In [10]:
import pandas as pd

# Baca dataset
df = pd.read_csv("penyakit_jantung.csv")

# Tampilkan data awal
print("Data awal\n")
display(df)   # akan menampilkan tabel di Jupyter

# Tampilkan jumlah kolom dan baris
print("\nJumlah kolom dan baris:")
print("Jumlah kolom:", df.shape[1])
print("Jumlah baris:", df.shape[0])

Data awal

,Usia,Jenis_Kelamin,Tipe_Nyeri_Dada,Tekanan_Darah_Istirahat,Kolesterol,Gula_Darah_Puasa,Elektrokardiogram_Istirahat,HR_Max,Nyeri_Dada_Olahraga,Depresi_ST,Kemiringan_ST,Jumlah_Pembuluh_Besar,Thalassemia,Penyakit_Jantung
0,52,1,0,125,212,0,1,168,0,1,2,2,3,0
1,53,1,0,140,203,1,0,155,1,01/03/2025,0,0,3,0
2,70,1,0,145,174,0,1,125,1,06/02/2025,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,09/01/2025,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,08/02/2025,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,04/01/2025,1,1,3,0

Jumlah kolom dan baris:
Jumlah kolom: 14
Jumlah baris: 1025

In [11]:
# Informasi dataset
df.info()

print("\nJumlah missing value per kolom:")
# Cek jumlah missing value
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Usia                         1025 non-null   int64
 1   Jenis_Kelamin                1025 non-null   int64
 2   Tipe_Nyeri_Dada              1025 non-null   int64
 3   Tekanan_Darah_Istirahat      1025 non-null   int64
 4   Kolesterol                   1025 non-null   int64
 5   Gula_Darah_Puasa             1025 non-null   int64
 6   Elektrokardiogram_Istirahat  1025 non-null   int64
 7   HR_Max                       1025 non-null   int64
 8   Nyeri_Dada_Olahraga          1025 non-null   int64
 9   Depresi_ST                   1025 non-null   object
 10  Kemiringan_ST                1025 non-null   int64
 11  Jumlah_Pembuluh_Besar        1025 non-null   int64
 12  Thalassemia                  1025 non-null   int64
 13  Penyakit_Jantung             1025 non-null   int64
dtypes: int64(13), object(1)
memory usage: 112.2+ KB

Jumlah missing value per kolom:
Usia                           0
Jenis_Kelamin                  0
Tipe_Nyeri_Dada                0
Tekanan_Darah_Istirahat        0
Kolesterol                     0
Gula_Darah_Puasa               0
Elektrokardiogram_Istirahat    0
HR_Max                         0
Nyeri_Dada_Olahraga            0
Depresi_ST                     0
Kemiringan_ST                  0
Jumlah_Pembuluh_Besar          0
Thalassemia                    0
Penyakit_Jantung               0
dtype: int64